@import "reset-defaults";
@import "color-config";
@import "breakpoints";
@import "fonts";
@import "microclasses";
@import "mixins";
@import "theming";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

#container {
  height: inherit;
  overflow-y: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  @extend %primary_scrollbar;
}

.overflow-hidden {
  overflow: hidden !important;
}

